<nav
  class="
    navbar
    navbar-dark
    navbar-expand-lg
    bg-secondary
    sticky-top
    py-0
">
  <div
    class="
      container-fluid
      d-flex
      justify-content-end
  ">
   <ul
    class="
      navbar-nav
      mb-lg-0
      flex-row
      flex
   ">
      <li class="nav-item px-3">
        <%=
          link_to 'Users',
          admin_users_path,
          class:"nav-link"
        %>
      </li>
    </ul>
  </div>
</nav>
